{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Edit this product ! </h1>
        {{ include('product/_form.html.twig', {
            button_text: 'Update !'
        }) }}
    </div>
{% endblock %}

